* {
  font-size: 10px;
  margin: 0 auto;
}

a {
  opacity: 1.0;
  font-size: 5rem;
}

body {
  margin: 0 auto;
  padding: 0;
  display: block;
}

/* ATTN */
footer {
  background-color: #3F3F3F;
  color: #D5D5D5;
  padding-top: 2rem;
}

/* ATTN */
hr.light {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D5D5D5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1.0rem;
}

/* ATTN */
footer a {
  color: #D5D5D5;
}

hr.light-100 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D5D5D5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1.0rem;
}
h1 {
  display: block;
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
}

.footer-link li {
  display: inline-flex;
  margin: 10px auto;
}

.footer-icon {
  height: 30px;
  width: 30px;
}

.footer-list {
  list-style-type: none;
  justify-content: space-around;
  display: inline;
}

.footer-link {
  float: left;
  margin: 0 25px;
}

.projects-section-wrapper {
  margin: 0 auto;
  padding: 50px;
  justify-content: center;
  display: block;
  height: 100vh;
  overflow: auto;
  /* Somehow this seemed to be the trick in centering it. Who knew!? */
  /* width: 50%; */
  /* TODO: Some clipping path */

  background-color: slateblue;
}

/* TODO: Navbar is always at top */
/* TODO: How in the fuck do decaration supercedements work? This disn't function as
          #navbar nav but does work as just nav */
/* TODO: Navbar should flip down to a condensed version once you've gone so far */
.navbar {
  background-color: #83AF9B;
  font-size: 2.4em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto 100px auto;
  padding: 0 auto;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  box-shadow: 0px 5px 10px grey;
  /* TODO: What in the actual fuck? This line fixes the centering. Why?! */
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  z-index: 100;
}

.nav-logo {
  margin: 0 auto -10px auto;
  display: flex;
  width: 100%;
  height: auto;
  max-height: 100px;
}

.quip-text p {
  font-size: 0.8em;
  color: grey;
}

/* Solution credit Alex K @StackOverflow:
   https://stackoverflow.com/questions/6890218/css-background-image-opacity*/
.site-wrapper {
  position: relative;
  width: 100vw;
  height: 200vh;
  display: block;
  padding: 20px;
  margin: 120px auto 0 auto;
  overflow: auto;
  z-index: 1;
}

.site-wrapper .site-wrapper-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://unsplash.it/1200/1200");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.site-wrapper .content {
  position: relative;
  z-index: 1;
}

.welcome-section {
  margin: 0 auto;
  padding: 50px; auto;
  width: 50%;
  display: block;
  /* Somehow this seemed to be the trick in centering it. Who knew!? */
  width: 50%;
}

.quip-text {
  font-size: 1.8rem;
  width: 50%;
  opacity: .5;
  text-align: justify;
  font-style: italic;
  margin: 10px auto;
}

.footer {
  width: 100%;
  height: 40px;
  display: flex;
  position: fixed;
  bottom: 20px;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
  color: white;
  margin: 0 auto 10px auto;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.8rem;
  color: slategrey;
  -webkit-transition: color .3s;
}

.nav-links a:hover {
  color: white;
  transition: 0.6s;
}

.nav-links li {
  list-style-type: none;
}

.project-tile {
  /* Pasted code */
  position: relative;
  border-radius: 50px;
  width: 20vw;
  height: 50vh;
  display: block;
  padding: 20px;
  margin: 40px auto;
  /* overflow: hidden; */
  z-index: 1;
  border-width: 5px;
  border-style: solid;
  border-color: whitesmoke;
}

.project-tile .project-tile-background {
  /* Copy-pasted code */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://unsplash.it/1200/1200");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  opacity: 0.25;
}

.project-tile .project-tile-content {
  /* Pasted */
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  opacity: 1.0;
}

div.project-tile a {
  font-size: 4em;
  margin: 20px auto;
  margin
}

.project-link {
  margin: 0 auto;
  width: 50%;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 4px;
  opacity: 1.0;
  color: white;
}

#front-page {
  margin: 0 auto;
  opacity: 1.0;
  display: block;
}

#projects {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: whitesmoke;
  opacity: 1.0;
  margin: 0 auto;
  /* padding: 0 auto; */
  display:  table;
  width: 50%;
}

#project-1-tile {
  background-image: url("http://unsplash.it/100/100");
  background-size: cover;
}
