/* TODO: What's this guy for!? */
@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 15, 0.85);
  --light-bg: rgba(255, 255, 255, 0.9);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* Currently required for scene to render to page and keep measurements! */
main {
  width: 100vw;
  width: 100%;
  /* color: white; */
  z-index: 99;
  /* This is the rule that ensures scroll behavior happens. */
  position: absolute;
  margin: 0px auto;
  padding: 120px 0px;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
}

/* Font styling for main elements */
h1,
h2,
h3,
h4,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
}

p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.font-encode-thin p,
a {
  font-family: "Encode Sans SC", sans-serif;
}

.font-raleway-thin {
  font-family: "Raleway", sans-serif;
}

.font-elevon-bold {
  font-family: elevon, sans-serif;
  font-weight: 700;
}

/* header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
} */

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.my-section-1 {
  /* grid-column: 2 / 8; */
  /* padding: 1rem; */
  /* font-size: 1.25rem; */
  line-height: 1.5;
  /* margin-bottom: var(--spacing); */
  margin-bottom: calc(var(--spacing) * 1.2);
}

.my-bg-dark {
  background: var(--dark-bg);
}

.my-bg-light {
  background: var(--light-bg);
}

hr {
  background-color: aliceblue;
}

/* blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
} */

.left {
  grid-column: 6 / 12;
}

.cert-badge {
  /* width: 10rem;
  min-height: 100%;
  max-height: 10rem;
  margin: 1rem 0.2rem; */
  width: auto;
  height: auto;
  max-width: 10rem;
  max-height: 10rem;
  margin: 1rem 0.2rem;
  padding: 0.9rem;
}

.cert-badge-light {
  max-width: 15rem;
  background-color: white;
}

.badge-text-only {
  background-color: azure;
  font-family: "Open Sans", sans-serif;
  /* width: 10rem; */
  height: 10rem;
  border-radius: 0.5rem;
  /* padding: 1.8rem; */
  /* align-content: center; */
}

.invert-colors {
  filter: invert(1);
}

.op-80 {
  opacity: 80%;
}

.active-dark {
  background: var(--dark-bg);
  color: white;
}

.active-dark:hover {
  background: var(--light-bg);
  color: black;
}

.my-blockquote {
  font-style: normal;
  /* display: inline; */
  overflow-wrap: break-word;
  margin-bottom: var(--spacing);
}

.mb-6 {
  margin-bottom: 18rem !important;
}

/* .my-blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
} */

.primary-h1 {
  font-size: 5rem;
}

.secondary-h3 h3 {
  font-weight: 100;
}

.social-link {
  color: white;
  opacity: 85%;
  font-size: 5rem;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .header-xs {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  .header-md {
    /* padding: 2rem 0; */
  }
}
