/* IDEA: Import a Google Font? */
/* IDEA: Comb the document for potential bugs--is 1rem == 100%? */
/* TODO: BEST PRACTICES: You might want to go back through and define everything in
         common units--e.g. everything defined in terms of rem.  */
/* @@import url */
/* comment to test */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222222;
}

footer {
  background-color: #3F3F3F;
  color: #D5D5D5;
  padding-top: 2rem;
}

footer a {
  color: #D5D5D5;
}

.footer-purple {
  background-color: #301934;
  color: #D5D5D5;
  padding-top: 2rem;
}

.footer-purple a {
  color: #D5D5D5;
}

hr.light {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D5D5D5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D5D5D5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #6648B1;
  border-width: 1px;
  border-style: solid;
  border-color: #6648B1;
}

.btn-primary:hover {
  background-color: #563D7C;
  border-width: 1px;
  border-style: solid;
  border-color: #563D7C;
}

.carousel {
  overflow: hidden;
  height: 89vh;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  /* TODO: Expand values? */
  text-shadow: 1px 1px 15px #000000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000000;
  padding-bottom: 1rem;
}

.carousel-caption a {
  color: #FFFFFF;
}

.carousel-caption a:hover {
  color: #D3D3D3;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > video,
.carousel-inner > .carousel-item > a > img {
    width: 100%;
    height: auto;
}
﻿
.fa-html5 {
  color: #E54D26;
}

.fa-bold {
  color: #563D7C;
}

.fa-code {
  color: #075AAA;
}

.fa-css3 {
  color: #2163AF;
}

.fa-database {
  color: #00758F;
}

.fa-python {
  color: #FFDE57;
}

.fa-code,
.fa-bold,
.fa-css3,
.fa-html5,
.fa-database,
.fa-r-project,
.fa-java,
.fa-python {
  font-size: 4em;
  margin: 1rem;
}

.fa-github {
  color: #4078C0;
}

.fa-youtube {
  color: #C4302B;
}

.fa-linkedin-in {
  color: #0E76A8;
}

.fa-github:hover,
.fa-youtube:hover,
.fa-linkedin-in:hover {
  color: #D5D5D5;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.logo-footer {
  /* safari 6.0 - 9.0 */
  -webkit-filter: invert(1.00);
          filter: invert(1.00);
}

.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  /* TODO: DON'T USE THE IMPORTANT TAG!!! */
  font-size: 1.1em !important;
}

.padding {
  padding-bottom: 2rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #B4B4B4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/* TODO: Alphabetize with all code */
.object-fit-cover { object-fit: cover; }

/* B U G   F I X E S */
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  /* TODO: Find a better solution than !important. Try to not use that! */
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  /* CREDIT: Photo by Breston Kenya from Pexels */
  background-image: url("img/pexels-breston-kenya-2880122.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/* Media Queries */
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%;
  }

  .carousel-caption h3 {
    font-size: 140$;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }

  .carousel-caption-btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

/* iPhone SE */
@media (max-width:576px) {
  .carousel-caption {
    /* top: 40%; */
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }

  .carousel-caption-btn {
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-crop {
    overflow: hidden;
    /* height: 720px; */
    height: 89vh;
    /* width: 100%; */
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > video,
  .carousel-inner > .carousel-item > a > img {
      width: 100%;
      height: auto;
      background-size: cover;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2rem;
    padding: 0.7rem;
  }

  .vertical { margin-top: 50%; }

}

/* MY STYLES
----------------------------------------------------------------------------- */
.certification-badge {
  width: auto;
  height: 200px;
}

.jobs-bg-light {
  padding: 2rem 1rem;
  /* margin-bottom: 2rem; */
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
}

.jobs-bg-dark {
  padding: 2rem 1rem;
  /* margin-bottom: 2rem; */
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.yt-card {
  /* width: 18rem; */
  min-width: 18rem;
}

.language-icon {
  /* font-size: 0.5em; */
  height: 8em;
  width: 100%;
}

/* CODE GOVERNING JULES' SITE */
.bg-light-green {
  background-color: #96c93c !important;
}
